<%= render "/layouts/nav" %>

<h1>Sign In</h1>

<%= form_tag sessions_path do %>
<div class="form-group">
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name, "", class: "form_control" %>
</div>
<div class="form-group">
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name, "", class: "form_control" %>
</div>
<div class="form-group">
  <%= label_tag :email %>
  <%= text_field_tag :email, "", class: "form_control" %>
</div>
<div class="form_group">
  <%= label_tag :password %>
  <%= text_field_tag :password, "", class: "form_control" %>
</div>
<div class="form_group">
  <%= label_tag :password_confirmation %>
  <%= text_field_tag :password_confirmation, "", class: "form_control" %>
</div>
<%= submit_tag "Sign In", class: "btn btn-primary" %>
<% end %>
