<%= render "/layouts/nav" %>
<h1>Welcome to Spatula City!</h1>

<h2>We sell Spatulas, and that's <i>all!!</i></h2>

<% @products.each do |product| %>

<table>
  <tr>
    <td><%= product.title %></td>
    <td><%= product.price %></td>
    <td><%= product.info %></td>
    <td><%= link_to "Show", product_path(product) %></td>


  </tr>
</table>


<% end %>
